.MuiListSubheader-root {
  background-color: var(--accent-color-dark) !important; 
}

.MuiToolbar-root.expanded-scripture-draggable-handle {
  width: auto !important; 
}

.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd {
  margin-left: 0 !important;
}

.scripture-pane-container {
  margin-top: 0px !important;
}